        body,
html {
            background: black;
            background-image: url("../myimg/pix1.jpg");
            background-size: 260vh;
            background-position: -1ch;
            background-repeat: no-repeat;
			margin: 0;
			padding: 0;
			height: 100%;
			
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
            background: #55c98f;
            background-image: url("../myimg/myat.png");
            background-size: 100vh;
            background-position-y: -1ch;
            background-position-x: -2ch;
            background-repeat: no-repeat;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
            font-family: myFirstFont;
			color: rgb(18, 17, 17);
		}
		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ca30bd !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}